<div class="py-5 px-10">
  <div class="py-10 px-5 max-w-md mx-auto">
    <div class="py-2 px-10 mx-auto shadow-xl bg-white">
      <form class="mt-2 mb-8" [formGroup]="formLogin">
        <h1 class="text-center text-xl font-bold mb-2 text-orange-400">Login</h1>
        <p class="text-xl text-center py-2 font-semibold">{{formLogin.valid}}</p>
        <div>
          <label for="username">Username</label>
          <input type="text" 
          formControlName="username"
          class="w-full border-gray-300 rounded-lg" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" 
          formControlName="password"
          class="w-full border-gray-300 rounded-lg" />
        </div>
        <button
        class="w-full bg-blue-500 mt-3 py-1 hover:bg-blue-700 text-white"
        >Log in</button>
      </form>
      <p class="text-md text-center py-2">{{formLogin.value | json}}</p>
    </div>
  </div>
</div>
